* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
    #fondoimg {
    position: relative;
    background-image: url(./media/fonfofondo1.jpg);
    height: 100vh;
}

h1 {
    font-size: 60px;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    -webkit-text-stroke: 1.5px #f4c95d;
}

h2 {
    font-size: 30px;
    color: #2e1f27;
    font-family: "Lobster", cursive;
    margin-top: 30px;
    -webkit-text-stroke: 0.7px #f4c95d;
}

span.header {
    color: #f4c95d;
    -webkit-text-stroke: 1.5px #2e1f27;
}

div.box {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #2e1f27;
    background-color: #EADA6F;
    overflow: auto;
}

div.box h3 {
    font-size: 40px;
    font-weight: bold;
}

img {
    height: 150px;
    width: 150px;
    margin-top: 5px;
}

#card {
    width: auto;
    margin: auto;
    justify-content: center;
}

.card {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    width: 15rem;
}

.card-img -top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
}

.card-prize, .card-text {
    font-size: 18px;
}

.card:hover {
    transform: scale(1.05);
    background: #2e1f27;
    background: linear-gradient(150deg, rgb(136, 54, 2) 0%, rgb(255, 165, 66) 49%, rgb(252, 176, 69) 68%, rgb(221, 143, 35) 88%, rgb(198, 116, 0) 100%);
}

.cantidades {
    display: inline-flex;
    margin-bottom: 5px;
}

.unidades {width: 45px;}

.botonera {
    display: flex;
    align-items: center;
}

#buscador, #buscadorMateriales {
    width: 200px;
    height: 33px;
    border: solid 2px black;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#buscar, #buscarMateriales {
    background-image: url(./media/search.png);
    background-size: cover;
    width: 33px;
    height: 33px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.imagencarro {
    background-image: url(./media/carro.png);
    background-size: cover;
    border: 2px solid black;
    height: 33px;
    width: 33px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.contador {font-size: 25px;}

.boton {
    height: 33px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: bold;
    padding: 4px;
    margin-left: 10px;
}

.carrito {
    background-color: #f4c95d;
    display: flex;
}

.fotocarro {
    height: 150px;
    width: 150px;
    padding: 5px;
}

.card-carrito {
    font-size: 20px;
}

.tarjbtn {border: solid 1px;}

/* Footer */

#footer {
    border-top: 5px solid #f4c95d;
    display: inline-flex;
    padding: 30px;
}

.form-control {
    margin-bottom: 5px;
    margin-right: 100px;
}

label {
    font-weight: bold;
}

button {
    justify-content: center;
}


p {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

a.p {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

iframe.mapa {
    height: 300px;
    width: 300px;
}